*{
  box-sizing: border-box;
}
#descriptionContainer{
  width:100vw;height:40vh;
  background-color:#eeeeee;
  display:inline-block;
  border: solid 5px #252525;
}

#event_desc{
  width:50%;
}


#map{
  width:100vw;
  height:40vh;
  display:inline-block;
}
body{
  margin:0;
}
#adress_autocomplete{
  width: 100%;
}
ul{
  padding: 0;
}
.listItem{
  list-style: none;
  margin: 0;
  padding: 15px;
  background: red; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(lightgrey, white, lightgrey); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(lightgrey, white, lightgrey); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(lightgrey, white, lightgrey); /* For Firefox 3.6 to 15 */
 background: linear-gradient(lightgrey, white, lightgrey); /* Standard syntax */
 border: solid 1px #AAAAAA;
}

.modaleContainer{
  width: 90vw;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 5vw;
  left: 5vh;
}

.closeModale{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
